<footer>
    <div class="container">
        By <a target="_BLANK" title="Emergya" href="http://www.emergya.es" ><img src="{{ asset('images/Emergya-logo.png') }}" class="footer-img"></a>
    </div>
</footer>
